/* minigame/assets/minigame/css/minigame.css */
html, body {
	height: 100% !important;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	height: 100% !important;
	position: relative;
	background: #333;
	background: url('../img/tileable-metal-textures-52.jpg');
	color: #0D2C2F;
	display: block;
}
ul, ol {
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
}

li {
    margin-bottom: 1em;
}

.modal-backdrop {
    background-color: transparent;
}

.styled-modal {
	opacity: 0.85;
	font-size: 12px;
}

.styled-modal ul li {
	margin-bottom: 0;
}

.styled-modal .modal-header {
    border-bottom: 1px solid #31787E;
    min-height: 16.4286px;
    padding: 10px;
}

.styled-modal .modal-content {
	background-color: #0D2C2F;
	color: #FFF;
}
.styled-modal .modal-header,
.styled-modal .modal-body {
	background-color: #0D2C2F;
	margin: 0;	
}
.modal-title {
    line-height: 1em;
    margin: 0;
}
.modal-footer {
    border-top: 1px solid #31787E;
    margin-top: 0;
    padding: 9px 10px 10px;
    text-align: right;
}

.btn-primary {
    background-color: #31787E;
    border-color: #0D2C2F;
    color: #fff;
	opacity: 0.85;
}

.btn-primary:hover {
    background-color: #0D2C2F;
    border-color: #31787E;
    color: #fff;	
}
.close {
    color: red;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
.btn-spacerunner {
    background-color: #0D2C2F;
    border-color: transparent;
    color: #31787E;
	font-size:10px;
}

.btn-spacerunner:hover {
    color: #CCCCCC;
}


#projects {
	display: none;
}

#gmap {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
	z-index: 0;
}

#map-canvas,
.canvas-overlay {
	position: absolute;
	/*background-color: #31787E*/;
	top: 0;
	left: 0;
	padding: 0;
   /* border: 4px solid #0D2C2F;*/
    border-radius: 8px;
	overflow: hidden;
}

#map-canvas {
	margin: 0px;
	position: relative;
	/*box-shadow: 0 0 6px 3px rgba(0,0,0,1);*/
	z-index: 2
}

.bg1 {
	background: url('../img/backgrounds/2f40663df45fb40bd399f9236b9d66b8.jpg');
}
.bg2 {
	background: url('../img/backgrounds/443a0ca274820f9dad21d21d45df9302.jpg');
}
.bg3 {
	background: url('../img/backgrounds/4233801baeac61d3be4e993c6b17a714.jpg');
}
.bg4 {
	background: url('../img/backgrounds/Galaxy-Hd-Computer-Background.jpg');
}
.bg5 {
	background: url('../img/backgrounds/space-galaxy-high-definition-wallpapers-cool-desktop-widescreen-photos.jpg');
}
.bg6 {
	background: url('../img/backgrounds/Stars-Galaxies-Purple_www.FullHDWpp.com_.jpg');
}
.bg7 {
	background: url('../img/backgrounds/twitter-backgrounds-facebook-for-1608112.jpg');
}

#canvas-wrapper:hover #gmap {
	/*z-index: 3;*/
	opacity: 0.7;
}

#canvas-wrapper {
	/*z-index: 3;*/
	height: 100%;
	width: 100%;
	display: block;}

#canvas-wrapper:hover #map-canvas {
	/*opacity: 0.3;*/
}

canvas {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.canvas-overlays {
	width: 100%;
	height: 100%;
	left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	/*
	margin-left: 230px;
	margin-right: 230px;
	*/
	/*background-color: transparent;*/

}
 .gradient{
 

	background: #211302; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: #0d2c2f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMGQyYzJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxNzg3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  #0d2c2f 0%, #31787e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0d2c2f), color-stop(100%,#31787e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #0d2c2f 0%,#31787e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #0d2c2f 0%,#31787e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #0d2c2f 0%,#31787e 100%); /* IE10+ */
	background: linear-gradient(45deg,  #0d2c2f 0%,#31787e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2c2f', endColorstr='#31787e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */



background: #000000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzQzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg, #000000 0%, #323438 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000000), color-stop(100%,#323438)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, #000000 0%,#323438 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, #000000 0%,#323438 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, #000000 0%,#323438 100%); /* IE10+ */
background: linear-gradient(45deg, #000000 0%,#323438 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#323438',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
 
 }

.canvas-overlay {
	border: 0;
	left: 0;
	display: none;
	z-index: 100;
	/*opacity: 0.9;*/
	background-color: #31787E;
}

.canvas-overlay .wrap {
	margin: 15px;
}


.game-panel-wrapper {
	width: 230px;
	padding: 15px;
	position: absolute;
	top: 0;
	
}

.game-panel-wrapper.left {
	left: 0;
}

.game-panel-wrapper.right {
	right: 0;
}

.panel-game-stats span.value {
	text-align: right;
}

.panel {
    background-color: #0D2C2F;
    border: 2px solid transparent;
    border-radius: 8px;
}

.panel-default {
    border: 4px solid #0D2C2F;
	-webkit-box-shadow:0 0 6px 3px rgba(0,0,0,1);
	box-shadow: 0 0 6px 3px rgba(0,0,0,1);
}

.panel-default hr {
    border: 1px solid #0D2C2F;
	margin-left: -15px;
	margin-right: -15px;
}

.panel-default > .panel-heading {
    background-color: #0D2C2F;
    border-bottom: 2px solid #0D2C2F;
    color: #319198;
}

.panel-default > .panel-heading h3.panel-title {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.panel-default > .panel-body {
	text-transform: uppercase;
	font-size: 10px;
    background-color: #31787E;
    border-color: #0D2C2F;
}
.panel-default > .panel-body h4 {
	font-size: 12px;
	font-weight: bold;
}

.panel-default .panel-body  {
	position: relative;
	text-transform: uppercase;
	font-size: 10px;
    background-color: #31787E;
    border-color: #0D2C2F;
}

.panel-default .panel-body div.stat {
	text-align: right
}

.panel-default .panel-body div.stat strong {
	display: inline-block;
	float: left;
	position: relative;
	left: 0;
	text-align: left;
}



/*

<div class="infoBox" style="position: absolute; visibility: visible; width: 463px; left: -679.868px; bottom: -305.913px;"><img align="right" style=" position: relative; cursor: pointer; margin: 2px;" src="/assets/chameleon/modules/djangospacerunner/assets/djangospacerunner/img/icon-close.png">
			<div class="wrapper">
				<div class="content">
											<div class="image">
							<img class="project-image" alt="" src="/assets/chameleon/modules/djangospacerunner/assets/djangospacerunner/img/unsergundelding/1334401280_80x0.jpg">
						</div>
						<div class="description">
												<h4>Cinema Querfeld</h4>
															<p>interkulturelles Kinofestival seit 2006:   Filme, kulinarische und musikalische Überraschungen </p>
														<span class="groups">type_2,organization_42,status_5,cat_4</span>
							<a onclick="addPrintCss(); showContent('/map/content/94'); return false;" class="info cat_4" href="http://www.unsergundelding.ch/map/content/94">Details</a>											</div>
									</div>
			</div>
		</div>

*/



.infoBox {
	min-width:200px;
	padding: 0 0 10px 0;
}

.infoBox > img {
	position:absolute !important;
	top:10px !important;
	right:10px !important;
}

.infoBox .wrapper {
	background-color: #0D2C2F;
	padding: 10px 10px 10px 10px;
	float: left;
	border-radius: 5px;
	max-width: 100%;
	width: 380px;
	min-width: 200px;
	webkit-box-shadow: 1px -2px 5px #000000;
	-moz-box-shadow: 1px -2px 5px #000000;
	box-shadow: 1px -2px 5px #000000;
}

.infoBox .wrapper .content {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
	line-height: 1.4em;
}

.infoBox .wrapper .content h4 {
	color: #fff;
	font-weight: bold;
	margin-bottom: 1em;
	font-size: 16px;
	text-transform: uppercase;
}

.infoBox .wrapper .content a.info,
.infoBox .wrapper .content p {
}

.infoBox .wrapper .content p {
	color: #fff;
	margin-bottom: 5px;
}

.infoBox .wrapper .content .groups {
	display: none;
}

.infoBox .wrapper .content .image {
	float: left;
	margin-top: 8px;
	max-width: 80px;
}
.infoBox .wrapper .content img {
	width: 100%;
}

.infoBox .wrapper .content .image .project-image {
	position: relative;
	right: auto;
}

.infoBox .wrapper .content .image a {
	display: block;
	margin-top: 5px;
}

.infoBox .wrapper .content .description {
	margin-left: 90px;
}

.infoBox a {
	color: #666666;
	text-transform:uppercase;
	text-decoration: none;
}

.infoBox a:hover {
	color:#FFF;
}

.infoBox .action {
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: #666666;
}

.infoBox .widget_iframe  {
	border-color: #31787E;
	width: 360px;
	height: 360px;
}

.infoBox .widget_iframe .footer_branding a {
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: #666666;
}

.infoBox .widget_iframe .footer_branding a {
	text-align: center;
}

.infoxBox {
	background-color: #0D2C2F;
	color: #31787E;
}

.triangle-down { 
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent; 
	border-right: 12px solid transparent; 
	border-top: 25px solid #0D2C2F; 
}

.triangle-down { 
	position: absolute;
	bottom: -12px;
	left: 92px;
}

button:hover {
	cursor: not-allowed;
}

